body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

/* Style the header */
.header {
  background-color: paleturquoise;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(59, 58, 58);
  font-family: "Roboto Condensed", sans-serif;
}

/* Container for flexboxes */
.menu {
  display: flex;
  background-color: rgb(59, 58, 58);
}

.menu a {
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  color: paleturquoise;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.menu a:hover {
  background-color: gray;
}

.content {
  padding: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.profilePicture {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  border-radius: 20%;
  height: 350px;
  width: 350px;
  align-self: center;
  float: left;
}
