body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  margin: 0;
  line-height: 1.5em;
}

/* Style the header */
header {
  background-color: #afeeee;
  padding: 40px;
  text-align: center;
  font-size: 40px;
  color: rgb(59, 58, 58);
  font-family: "Roboto Condensed", sans-serif;
}

/* Container for flexboxes */
.menu {
  display: flex;
  background-color: rgb(59, 58, 58);
}

.menu a {
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  color: paleturquoise;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.menu a:hover {
  background-color: gray;
  color: turquoise;
}

.content {
  margin: auto;
  max-width: 90ch;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.profilePicture {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 50%;
  height: 320px;
  width: 320px;
  float: left;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "cooking yoga reading"
    "surfing snowboarding travel";
  justify-content: center;
}

.grid-image {
  height: 200px;
  width: 200px;
  padding: 30px;
}
.grid-cooking {
  grid-area: cooking;
  text-align: center;
}

.grid-yoga {
  grid-area: yoga;
  text-align: center;
}

.grid-surfing {
  grid-area: surfing;
  text-align: center;
}

.grid-snowboarding {
  grid-area: snowboarding;
  text-align: center;
}

.grid-reading {
  grid-area: reading;
  text-align: center;
}

.grid-travel {
  grid-area: travel;
  text-align: center;
}
